@font-face {
  font-family: "Roboto";
  font-weight: 400;
  src: local("Century Gothic"), local("Century Gothic"),
    url(http://themes.googleusercontent.com/static/fonts/roboto/v11/2UX7WLTfW3W8TclTUvlFyQ.woff)
      format("woff"),
    url(http://themes.googleusercontent.com/static/fonts/roboto/v11/2UX7WLTfW3W8TclTUvlFyQ.ttf)
      format("ttf"),
    url(http://themes.googleusercontent.com/static/fonts/roboto/v11/2UX7WLTfW3W8TclTUvlFyQ.woff2)
      format("woff2");
}

body {
  font-family: "Century Gothic" "Century Gothic";
  background-color: black;
  color: orange;
}

.p {
  font-family: "Roboto" "Comic Sans MS";
  font-size: 1.5em;
  margin: 20px;
  padding: 10px;
  border: solid;
  border-width: 2px;
  border-color: rgb(255, 255, 255);
  color: rgb(255, 255, 255);
  border-radius: 10px;
}

.k {
  font-family: "Roboto" "Comic Sans MS";
  font-size: 1.5em;
  display: inline-block;
  width: 100px;
  height: 100px;
  margin: 25px;
  border-radius: 50px;
  color: black;
  background-color: rgb(229, 255, 0);
  border: none;
  outline: none;
  display: inline-block;
}
.k:hover {
  transition-duration: 0.25s;
  color: white;
  background-color: rgb(98, 83, 235);
  border-radius: 50px;
}

#defend {
  color: rgb(255, 255, 255);
  background-color: black;
  display: none;
}

#chase {
  color: rgb(255, 255, 255);
  background-color: black;
  display: none;
}

.choice {
  font-family: "Roboto" "Comic Sans MS";
  font-size: 1.5em;
  width: 33vw;
  margin: 20px;
  padding: 10px;
  border: solid;
  border-width: 2px;
  border-color: yellow;
  color: rgb(255, 255, 255);
  border-radius: 5px;
  display: inline-block;
}
.choice1 {
  font-family: "Roboto" "Comic Sans MS";
  font-size: 1.5em;
  width: 33vw;
  margin: 20px;
  padding: 10px;
  border: solid;
  border-width: 2px;
  border-color: rgb(98, 83, 235);
  color: rgb(255, 255, 255);
  border-radius: 5px;
  display: inline-block;
}

#surface {
  color: rgb(255, 255, 255);
}

#gamePlay {
  display: none;
}

.Coin {
  font-family: "Roboto" "Comic Sans MS";
  font-size: 1.3em;
  display: inline-block;
  width: 100px;
  height: 100px;
  margin: 25px;
  border-radius: 50px;
  color: black;
  background-color: rgb(255, 255, 255);
  border: none;
  outline: none;
  display: inline-block;
}
.Coin:hover {
  transition-duration: 0.5s;
  color: white;
  background-color: rgb(99, 96, 96);
  border-radius: 50px;
}

#startgame {
  display: none;
}

#startgamebowl {
  display: none;
}

#startgamebat {
  display: none;
}

.Coins {
  font-family: "Roboto" "Comic Sans MS";
  font-size: 1.3em;
  display: inline-block;
  width: 100px;
  height: 100px;
  margin: 25px;
  color: black;
  background-color: rgb(255, 255, 255);
  border: none;
  border-radius: 50px;
  outline: none;
  display: inline-block;
}
.Coins:hover {
  transition-duration: 0.5s;
  color: white;
  background-color: rgb(92, 86, 86);
}

#defendloss {
  font-size: 1.3em;
  display: none;
}

#defendwin {
  font-size: 1.3em;
  display: none;
}

#chasewin {
  font-size: 1.3em;
  display: none;
}

#chaseloss {
  font-size: 1.3em;
  display: none;
}

#tie {
  font-size: 1.3em;
  display: none;
}

#OUT {
  font-size: 1.3em;
  display: none;
}

#continue {
  font-family: "Roboto" "Comic Sans MS";
  font-size: 1.3em;
  display: inline-block;
  width: 100px;
  height: 100px;
  margin: 25px;
  color: black;
  background-color: rgb(255, 255, 255);
  border: none;
  border-radius: 50px;
  outline: none;
  display: inline-block;
}
#continue:hover {
  transition-duration: 0.5s;
  color: white;
  background-color: rgb(83, 80, 80);
}

.NG {
  font-family: "Roboto" "Comic Sans MS";
  font-size: 1.3em;
  display: inline-block;
  width: 100px;
  height: 100px;
  margin: 25px;
  color: black;
  background-color: rgb(255, 255, 255);
  border: none;
  border-radius: 50px;
  color: black;
  background-color: rgb(255, 255, 255);
  border: none;
  border-radius: 150px;
  outline: none;
  display: inline-block;
}
.NG:hover {
  transition-duration: 0.5s;
  color: white;
  background-color: rgb(85, 79, 79);
}

#head {
  background: rgb(255, 255, 255);
  color: black;
  height: 50vh;
  width: 100%;
  clip-path: polygon(100% 0, 100% 79%, 0 100%, 0 100%, 0 0);
  font-weight: 400;
}
